<footer class="blog-page-footer">
  <div class="blog-page-footer__logo-container show-0-768">
    <picture class="blog-page-footer__logo-wrapper">
      <img class="blog-page-footer__logo" src="images/logo.png" srcset="images/logo@2x.png 2x" alt="Exam Labs">
    </picture>
  </div>
  <div class="blog-page-footer__container">
    <div class="blog-container">
      <p class="blog-page-footer__copyrights">© 2020 Exam-labs.com</p>
      <ul class="footer-links list">
        <li class="footer-links__item">
          <a class="footer-links__link" href="/vendors">Certification Providers</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="https://www.exam-labs.com/contact">Contact</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="https://www.facebook.com/examlabs">Facebook</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="https://www.exam-labs.com/uploadfile">Upload VCE File</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="https://www.exam-labs.com/faq">FAQ</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="https://www.exam-labs.com/privacy">Privacy Policy</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="https://www.exam-labs.com/requestexam">Request Exam</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="https://www.exam-labs.com/questions">Discussion</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="https://www.exam-labs.com/terms">Terms & Conditions</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="archive.html">Archive</a>
        </li>
        <li class="footer-links__item">
          <a class="footer-links__link" href="https://www.exam-labs.com/blog/">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
